force-app/main/default/flows/Asset_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assCancellation</name>
        <label>assCancellation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>getAsset.CancellationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAsset.CancellationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellationReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>assCancellationReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CancellationReason__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Asset Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAsset</name>
        <label>getAsset</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrCancelAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>getAsset</inputReference>
    </recordUpdates>
    <screens>
        <name>scrCancelAsset</name>
        <label>scrCancelAsset</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assCancellation</targetReference>
        </connector>
        <fields>
            <name>CancellationDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>getAsset.CancellationDate__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CancellationReason</name>
            <choiceReferences>assCancellationReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAsset.CancellationReason__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAsset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
