force-app/main/default/flows/CaseBeforeSaveUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>This is needed for Playvos</description>
        <name>Assign_Category_Level_1</name>
        <label>Assign Category Level 1</label>
        <locationX>281</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>$Record.pvx__AgyleTimeSourceTypeIdentifierTags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_AgyleTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Status_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_changed_to_Resolve</name>
        <label>Assign Status changed to Resolve</label>
        <locationX>281</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastClosedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Business_Hours</name>
        <label>Set Liber Business Hours</label>
        <locationX>149</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01mQv000000jfyH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TypeOfChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_EntitlementForOtherAcc</name>
        <label>Set Default Entitlement</label>
        <locationX>512</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntitelmentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Category_Level_1_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Plantyn_Business_Hours</name>
        <label>Set Plantyn Business Hours</label>
        <locationX>413</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01mJW000000dPxp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TypeOfChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Open</name>
        <label>Set Status to Open</label>
        <locationX>72</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Category_Level_1_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_StatusUpdate_Field</name>
        <label>Update Last StatusUpdate Field</label>
        <locationX>281</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastStatusChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Resolved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Category_Level_1_Changed</name>
        <label>Is Category Level 1 Changed?</label>
        <locationX>413</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>is_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CategoryLevel1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Category_Level_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_a_Group</name>
        <label>Is Owner a Group?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not Group</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IfGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Category_Level_1_Changed</targetReference>
            </connector>
            <label>Owner is Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Status_changed</name>
        <label>is Status changed or LastStatusChange blank?</label>
        <locationX>413</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Status_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastStatusChange__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_StatusUpdate_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>204</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Is_Category_Level_1_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Open</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Resolved</name>
        <label>Status Resolved</label>
        <locationX>413</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_changed_to_Resolve</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeOfChange</name>
        <label>Type Of Change</label>
        <locationX>413</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Is_Category_Level_1_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OwnerChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_a_Group</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_EntitlementForOtherAcc</targetReference>
            </connector>
            <label>Is New Liber Case?</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_OpCo</name>
        <label>What OpCo?</label>
        <locationX>413</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>TypeOfChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Business_Hours</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Plantyn_Business_Hours</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
    </decisions>
    <description>MR 28/08 Add Business Hours assignment
MR 15/08/24 Added Entitlements assignment for Liber Cases
MV 11/04/24 Adding a fallback queue for Cases of type Problem
MR Remove Queuename savings</description>
    <environments>Default</environments>
    <formulas>
        <name>EntitelmentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Liber_Default_Entitlment}</expression>
    </formulas>
    <formulas>
        <name>form_AgyleTag</name>
        <dataType>String</dataType>
        <expression>&quot;[Category]:&quot; + TEXT({!$Record.CategoryLevel1__c})</expression>
    </formulas>
    <formulas>
        <name>IfGroup</name>
        <dataType>Boolean</dataType>
        <expression>IF(BEGINS({!$Record.OwnerId}, &quot;00G&quot;), TRUE, False)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case - Before Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Before Save Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_OpCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
