force-app/main/default/flows/Case_After_Save_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_number_of_linked_Articles</name>
        <label>Get number of linked Articles</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <actionName>CASE_CaseHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Article_Count</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CASE_CaseHelper</nameSegment>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add1toQueueDeveloperNameinList</name>
        <label>Add 1 to QueueDeveloperName in List</label>
        <locationX>270</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperNameInList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Article_Count</name>
        <label>Assign Article Count</label>
        <locationX>380</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.AttachedArticleCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision checks if an article is attached to the Case and if the Owner entered upon save is a queue or a user</description>
        <name>Article_Count_1</name>
        <label>Article Count &lt; 1 and new Owner is queue</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Article(s) attached and/or Owner is User</defaultConnectorLabel>
        <rules>
            <name>NoArticle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetResult</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queues_that_need_Article_validation</targetReference>
            </connector>
            <label>No article and Owner is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_of_Type_Problem</name>
        <label>Case of Type Problem?</label>
        <locationX>611</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Yes, Problem</defaultConnectorLabel>
        <rules>
            <name>No_QuestionIncident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_number_of_linked_Articles</targetReference>
            </connector>
            <label>No, Question or Incident</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the queue that is chosen upon save on this Case match the list of queues that need Article validation?</description>
        <name>Does_Queue_match</name>
        <label>Does Queue match?</label>
        <locationX>402</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Compare_Queues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueDeveloperNameToCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compare_Queues.QueueDeveloperName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add1toQueueDeveloperNameinList</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check if this queue needs to be validated on article presence before assigning the case</description>
        <name>Queueneedstobevalidatedonarticle</name>
        <label>Queue needs to be validated on article?</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesValidationNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueDeveloperNameInList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Message_1</targetReference>
            </connector>
            <label>Yes validation needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChangedToPending</name>
        <label>Status changed to Pending?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Pending_Case_Reminder_Sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetResult</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Result})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>To check if the Owner that was chosen upon the save of the case is a queue</description>
        <name>IsOwnerQueue</name>
        <dataType>Boolean</dataType>
        <expression>IF(BEGINS({!$Record.OwnerId},&apos;00G&apos;),True,False)</expression>
    </formulas>
    <interviewLabel>Case - After Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Save Update</label>
    <loops>
        <description>This loop compares the list of queues that need article validation agains the queue that is</description>
        <name>Compare_Queues</name>
        <label>Compare Queues</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Queues_that_need_Article_validation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Queue_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Queueneedstobevalidatedonarticle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queues_that_need_Article_validation</name>
        <label>Get Queues that need Article validation</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QueueDeveloperName__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseQueuewithArticleValidation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QueueDeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Pending_Case_Reminder_Sent</name>
        <label>Uncheck Pending Case Reminder Sent if checked</label>
        <locationX>479</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PendingCaseReminderSent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingCaseReminderSent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Article_Count_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedArticleCount__c</field>
            <value>
                <elementReference>GetResult</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusChangedToPending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QueueDeveloperNameInList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This field holds the Queue DeveloperName of the Case that triggered this flow. Hence the Queue that the user</description>
        <name>QueueDeveloperNameToCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
        </value>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
