force-app/main/default/flows/Case_Lifecycle_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_BusinessHours</name>
        <label>Calculate BusinessHours</label>
        <locationX>2514</locationX>
        <locationY>734</locationY>
        <actionName>UTIL_CalculateBusinessHoursDiff</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>Case.BusinessHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>SV_StartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTIL_CalculateBusinessHoursDiff</nameSegment>
        <outputParameters>
            <assignToReference>SV_BusinessHoursSinceLastStatusChange</assignToReference>
            <name>diffResultHr</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_reminder_e_mail_No_Contact</name>
        <label>Send reminder e-mail No Contact</label>
        <locationX>1898</locationX>
        <locationY>1574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_PendingCaseReminderSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>MAIL_EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@noordhoff.nl</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SV_PendingReminderMailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MAIL_PendingCaseReminder_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Second_Auto_response_E_mail_No_Contact</name>
        <label>Send Second Auto-response E-mail - No Contact</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_2ndAutoResponseNewSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>MAIL_EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@noordhoff.nl</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SV_SatatusNewSecondAutoResponseMailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MAIL_2ndAutoResponseNew_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Contact_variables</name>
        <label>Assign Contact variables</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>MAIL_EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.ContactEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAIL_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Second_Auto_response_E_mail_No_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_variables_pending</name>
        <label>Assign contact variables</label>
        <locationX>1634</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>MAIL_EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.ContactEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAIL_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Pending.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_reminder_e_mail_No_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_supplied_contact_variables_pending</name>
        <label>Assign supplied contact variables</label>
        <locationX>1898</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>MAIL_EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAIL_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_reminder_e_mail_No_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_supplies_contact_variables</name>
        <label>Assign supplies contact variables</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>MAIL_EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAIL_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Second_Auto_response_E_mail_No_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Liber_CM</name>
        <label>Assign to Liber CM</label>
        <locationX>3130</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SRV_Liber_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_OpCo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_OpCo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Noordhoff_CM</name>
        <label>Assign to Noordhoff CM</label>
        <locationX>2602</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SRV_Noordhoff_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_OpCo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_OpCo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Plantyn_CM</name>
        <label>Assign to Plantyn CM</label>
        <locationX>2866</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SRV_Plantyn_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_OpCo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_OpCo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Zorg_CM</name>
        <label>Assign to Zorg CM</label>
        <locationX>3394</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SRV_Zorg_CaseManagement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devide_CaseManagement_per_OpCo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devide_CaseManagement_per_OpCo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_2ndAutoResponseNewSent</name>
        <label>Check 2ndAutoResponseNewSent</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Case.X2ndAutoResponseNewSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_PendingCaseReminderSent</name>
        <label>Check PendingCaseReminderSent</label>
        <locationX>1898</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Case.PendingCaseReminderSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_DueDate</name>
        <label>Clear DueDate</label>
        <locationX>3130</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Case.DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status_to_Open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Closed</name>
        <label>Set Status to Closed</label>
        <locationX>3658</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Open</name>
        <label>Set Status to Open</label>
        <locationX>3174</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_to_Solved</name>
        <label>Status to Solved</label>
        <locationX>1370</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Origin</name>
        <label>Case Origin</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Web_or_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_second_auto_response</targetReference>
            </connector>
            <label>Web or Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>2514</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Origin</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_actions</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Hold_actions</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
        <rules>
            <name>Solved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solved_actions</targetReference>
            </connector>
            <label>Solved</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Hold_actions</name>
        <label>On Hold actions</label>
        <locationX>3174</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Max_time_in_OnHold_reached</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9))</conditionLogic>
            <conditions>
                <leftValueReference>Case.DueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Zorg_CaseManagement.Max_Hours_Allowed_In_Status_On_Hold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Open</targetReference>
            </connector>
            <label>Max time reached</label>
        </rules>
        <rules>
            <name>Due_Date_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.DueDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.DueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_DueDate</targetReference>
            </connector>
            <label>Due Date reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opco</name>
        <label>Opco</label>
        <locationX>3130</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Devide_CaseManagement_per_OpCo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_OpCo.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Noordhoff_CM</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_OpCo.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Plantyn_CM</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_OpCo.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Liber_CM</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>Zorg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Devide_CaseManagement_per_OpCo.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Zorg_CM</targetReference>
            </connector>
            <label>Zorg</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_actions</name>
        <label>Pending actions</label>
        <locationX>2030</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Max_time_reached</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Zorg_CaseManagement.Max_Hours_Allowed_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_to_Solved</targetReference>
            </connector>
            <label>Max time reached</label>
        </rules>
        <rules>
            <name>Send_reminder_e_mail</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Zorg_CaseManagement.Reminder_after_X_Hours_In_Status_Pending__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reminder</targetReference>
            </connector>
            <label>Send reminder e-mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Reminder</name>
        <label>Send Reminder?</label>
        <locationX>2162</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Reminder already sent</defaultConnectorLabel>
        <rules>
            <name>Send_Reminder_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.PendingCaseReminderSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_EmailAddress_to_Use</targetReference>
            </connector>
            <label>Send Reminder Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_second_auto_response</name>
        <label>Send second auto-response?</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_send_second_autoresponse</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Zorg_CaseManagement.secondAutoResponseAfterXHrInNew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.X2ndAutoResponseNewSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_e_mailaddress_to_use</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solved_actions</name>
        <label>Solved actions</label>
        <locationX>3790</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Max_time_in_Solved_reached</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Noordhoff_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Plantyn_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Liber_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV_BusinessHoursSinceLastStatusChange</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SRV_Zorg_CaseManagement.Max_Hours_Allowed_In_Status_Solved__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Closed</targetReference>
            </connector>
            <label>Max time reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_e_mailaddress_to_use</name>
        <label>What e-mailaddress to use</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>No e-mailaddress available</defaultConnectorLabel>
        <rules>
            <name>From_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.ContactEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>From Contact</label>
        </rules>
        <rules>
            <name>From_Supplied_E_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_supplies_contact_variables</targetReference>
            </connector>
            <label>From Supplied E-mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_EmailAddress_to_Use</name>
        <label>What EmailAddress to Use</label>
        <locationX>1898</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>No EmailAddress Available</defaultConnectorLabel>
        <rules>
            <name>use_Email_From_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.ContactEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Pending</targetReference>
            </connector>
            <label>From Contact</label>
        </rules>
        <rules>
            <name>From_Supplied_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_supplied_contact_variables_pending</targetReference>
            </connector>
            <label>From Supplied Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmptyDate</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>SV_NoContactBodyHeader</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Case.SuppliedName}), &apos;Beste &apos;&amp; {!Case.SuppliedName}, &apos; Beste mijnheer / mevrouw&apos;)</expression>
    </formulas>
    <formulas>
        <name>SV_PendingReminderMailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Re: &apos; &amp; {!Case.Subject}&amp; &apos; #&apos; &amp; {!Case.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>SV_SatatusNewSecondAutoResponseMailSubject</name>
        <dataType>String</dataType>
        <expression>{!Case.Subject} &amp; &apos; #&apos; &amp; {!Case.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>SV_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    OR(
        ISNULL(
            {!Case.LastStatusChange__c}
        ),
        ISBLANK(
            {!Case.LastStatusChange__c}
        )
    ),
{!Case.LastModifiedDate},
{!Case.LastStatusChange__c}
)</expression>
    </formulas>
    <interviewLabel>Case - Lifecycle - subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Lifecycle - subflow</label>
    <loops>
        <name>Devide_CaseManagement_per_OpCo</name>
        <label>Devide CaseManagement per OpCo</label>
        <locationX>2514</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_CaseManagement_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opco</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Calculate_BusinessHours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CaseManagement_Metadata</name>
        <label>Get CaseManagement Metadata</label>
        <locationX>2514</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Devide_CaseManagement_per_OpCo</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseManagement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Pending</name>
        <label>Get Contact</label>
        <locationX>1634</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_contact_variables_pending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Case</name>
        <label>update Case</label>
        <locationX>2514</locationX>
        <locationY>2042</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>2388</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CaseManagement_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MAIL_2ndAutoResponseNew_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif; color: rgb(114, 114, 114);&quot;&gt;&lt;img src=&quot;http://image.mc.noordhoff.nl/lib/fe3611717564047f701d73/m/1/8f62bebe-b504-4973-8824-ac2dbe0438dd.png&quot;&gt;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Beste {!MAIL_Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Je hebt ons 2 werkdagen geleden een bericht gestuurd. Bedankt voor je geduld!&lt;/p&gt;&lt;p&gt;Op dit moment is het drukker dan verwacht. We doen ons uiterste best om je melding zo snel mogelijk op te pakken. Wanneer we je melding hebben opgepakt ontvang je bericht van ons.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Met vriendelijke groet,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Team Services&lt;/p&gt;&lt;p&gt;Noordhoff&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif; color: rgb(114, 114, 114);&quot;&gt;&lt;img src=&quot;https://image.mc.noordhoff.nl/lib/fe3611717564047f701d73/m/4/7461d806-05af-4e24-9d0c-e68229e32ef5.png&quot; alt=&quot;Noordhoff brengt je verder&quot;&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MAIL_PendingCaseReminder_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif; color: rgb(114, 114, 114);&quot;&gt;&lt;img src=&quot;http://image.mc.noordhoff.nl/lib/fe3611717564047f701d73/m/1/8f62bebe-b504-4973-8824-ac2dbe0438dd.png&quot;&gt;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif; color: rgb(114, 114, 114);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;Beste {!MAIL_Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Een tijdje geleden heb je contact gehad met de Noordhoff klantenservice. Om je melding volledig te kunnen behandelen, hebben wij je om meer informatie gevraagd. Dit is een automatische herinnering van ons bericht. Wanneer je geen antwoord meer nodig hebt en niet reageert op dit bericht zal je melding worden afgesloten.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Met vriendelijke groet,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Team Services&lt;/p&gt;&lt;p&gt;Noordhoff&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Arial, sans-serif; color: rgb(114, 114, 114);&quot;&gt;&lt;img src=&quot;https://image.mc.noordhoff.nl/lib/fe3611717564047f701d73/m/4/7461d806-05af-4e24-9d0c-e68229e32ef5.png&quot; alt=&quot;Noordhoff brengt je verder&quot;&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MAIL_EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MAIL_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Meneer/Mevrouw</stringValue>
        </value>
    </variables>
    <variables>
        <name>SRV_Liber_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SRV_Noordhoff_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SRV_Plantyn_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SRV_Zorg_CaseManagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseManagement__mdt</objectType>
    </variables>
    <variables>
        <name>SV_BusinessHoursSinceLastStatusChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
