force-app/main/default/flows/Case_After_Save_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_number_of_linked_Articles</name>
        <label>Get number of linked Articles</label>
        <locationX>1249</locationX>
        <locationY>1331</locationY>
        <actionName>CASE_CaseHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Article_Count</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CASE_CaseHelper</nameSegment>
        <outputParameters>
            <assignToReference>Result</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add1toQueueDeveloperNameinList</name>
        <label>Add 1 to QueueDeveloperName in List</label>
        <locationX>1139</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperNameInList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Article_Count</name>
        <label>Assign Article Count</label>
        <locationX>1249</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.AttachedArticleCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_to_Case_Owner_Queue</name>
        <label>Set Queue Name as Case Owner</label>
        <locationX>1546</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PE_HE</name>
        <label>Set PE/HE</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_name</name>
        <label>Set Queue name</label>
        <locationX>1810</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_to_Primary_Education</name>
        <label>Set Queue to Primary Education</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_to_Secondary_Education</name>
        <label>Set Queue to Secondary Education</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QueueName_To_Service_Generic</name>
        <label>Set QueueName To Service Generic</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Tech_Help</name>
        <label>Set to Tech Help</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.QueueName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision checks if an article is attached to the Case and if the Owner entered upon save is a queue or a user</description>
        <name>Article_Count_1</name>
        <label>Article Count &lt; 1 and new Owner is queue</label>
        <locationX>1249</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Article(s) attached and/or Owner is User</defaultConnectorLabel>
        <rules>
            <name>NoArticle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetResult</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queues_that_need_Article_validation</targetReference>
            </connector>
            <label>No article and Owner is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_of_Type_Problem</name>
        <label>Case of Type Problem or Migrated Case?</label>
        <locationX>1480</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Update_Problem_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Problem or migrated</defaultConnectorLabel>
        <rules>
            <name>No_QuestionIncident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OldId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_number_of_linked_Articles</targetReference>
            </connector>
            <label>No, Question or Incident</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the queue that is chosen upon save on this Case match the list of queues that need Article validation?</description>
        <name>Does_Queue_match</name>
        <label>Does Queue match?</label>
        <locationX>1271</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Compare_Queues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueDeveloperNameToCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Compare_Queues.QueueDeveloperName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add1toQueueDeveloperNameinList</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check if this queue needs to be validated on article presence before assigning the case</description>
        <name>Queueneedstobevalidatedonarticle</name>
        <label>Queue needs to be validated on article?</label>
        <locationX>1051</locationX>
        <locationY>2363</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesValidationNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueDeveloperNameInList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Message_1</targetReference>
            </connector>
            <label>Yes validation needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChangedToPending</name>
        <label>Status changed to Pending?</label>
        <locationX>1480</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Type_of_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Pending_Case_Reminder_Sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_change</name>
        <label>Type of change</label>
        <locationX>1480</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Segment</targetReference>
            </connector>
            <label>It is new Case</label>
        </rules>
        <rules>
            <name>Outcome_3_of_Type_of_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_to_Case_Owner_Queue</targetReference>
            </connector>
            <label>Owner is Queue</label>
        </rules>
        <rules>
            <name>If_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_is_owner</targetReference>
            </connector>
            <label>Queue Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Segment</name>
        <label>What Segment</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID_and_Name_G</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Primary_Education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Queue_ID_and_Name_PE</targetReference>
            </connector>
            <label>Primary Education</label>
        </rules>
        <rules>
            <name>Secondary_education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Queue_ID_and_Name_SE</targetReference>
            </connector>
            <label>Secondary education</label>
        </rules>
        <rules>
            <name>Vocational_Education</name>
            <conditionLogic>1 AND (2 OR 3 )AND 4</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vocational Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CategoryLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Higher Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID_and_Name_VE</targetReference>
            </connector>
            <label>Vocational/Higher Education</label>
        </rules>
        <rules>
            <name>Case_is_Type_Problem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID_and_Name_Tech</targetReference>
            </connector>
            <label>Case is Type Problem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_owner</name>
        <label>Who is owner?</label>
        <locationX>1942</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Case_of_Type_Problem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_is_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOwnerQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_name</targetReference>
            </connector>
            <label>Queue is owner</label>
        </rules>
    </decisions>
    <description>MV - Added exclusion for migrated cases (OldId)
MR - Move Before Save here 1.0
MR - Add Outcome to &quot;It is New Case&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>GetResult</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Result})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>To check if the Owner that was chosen upon the save of the case is a queue</description>
        <name>IsOwnerQueue</name>
        <dataType>Boolean</dataType>
        <expression>IF(BEGINS({!$Record.OwnerId},&apos;00G&apos;),True,False)</expression>
    </formulas>
    <interviewLabel>Case - After Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Save Update</label>
    <loops>
        <description>This loop compares the list of queues that need article validation agains the queue that is</description>
        <name>Compare_Queues</name>
        <label>Compare Queues</label>
        <locationX>1051</locationX>
        <locationY>1871</locationY>
        <collectionReference>Get_Queues_that_need_Article_validation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Queue_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Queueneedstobevalidatedonarticle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Queue_ID_and_Name_PE</name>
        <label>Get Queue ID and Name PE</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Queue_to_Primary_Education</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServicesPE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Queue_ID_and_Name_SE</name>
        <label>Get Queue ID and Name SE</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Queue_to_Secondary_Education</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServicesSE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID_and_Name_G</name>
        <label>Get Queue ID and Name General</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_QueueName_To_Service_Generic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServices</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID_and_Name_Tech</name>
        <label>Get Queue ID and Name Tech</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_to_Tech_Help</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffTH</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_ID_and_Name_VE</name>
        <label>Get Queue ID and Name VE</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PE_HE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NoordhoffServicesVEHE</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>sov_Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues_that_need_Article_validation</name>
        <label>Get Queues that need Article validation</label>
        <locationX>1051</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QueueDeveloperName__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseQueuewithArticleValidation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QueueDeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Pending_Case_Reminder_Sent</name>
        <label>Uncheck Pending Case Reminder Sent if checked</label>
        <locationX>1348</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Type_of_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PendingCaseReminderSent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PendingCaseReminderSent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1249</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Article_Count_1</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Problem_Case</name>
        <label>Update Problem Case</label>
        <locationX>1711</locationX>
        <locationY>1331</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1354</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusChangedToPending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QueueDeveloperNameInList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This field holds the Queue DeveloperName of the Case that triggered this flow. Hence the Queue that the user</description>
        <name>QueueDeveloperNameToCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
        </value>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sov_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
