force-app/main/default/flows/Import_Order_Handler_Get_Address_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Address</name>
        <label>Validate Address</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <actionName>AddressImportOrderInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumber</name>
            <value>
                <elementReference>var_HouseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumberAddition</name>
            <value>
                <elementReference>var_HouseNumberAddition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>formattedPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddressImportOrderInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Created_Address</name>
        <label>Assign Created Address</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_AddressIdOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allow_Address_Validation2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Address</name>
        <label>Assign Found Address</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>var_AddressIdOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGetAddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Address_Validated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_Get_Address</name>
        <label>Assign from Get Address</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varGetAddressRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Address_with_house_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_Get_Address_1</name>
        <label>Assign from Get Address</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varGetAddressRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Address_with_street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validated_True</name>
        <label>Assign Validated True</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_AddressValidatedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Allow_Address_Validation</name>
        <label>Allow Address Validation</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.ValidateAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImportOrderRecord.Source__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Validate_Address</targetReference>
            </connector>
            <label>Validate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allow_Address_Validation2</name>
        <label>Allow Address Validation</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.ValidateAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImportOrderRecord.Source__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Address</targetReference>
            </connector>
            <label>Validate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Validate_Address</name>
        <label>Create/Validate Address</label>
        <locationX>1172</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Validate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ImportOrderRecord.Source__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>eCommerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ImportOrderRecord.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Studiemeister</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Address</targetReference>
            </connector>
            <label>Create/Validate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Address</name>
        <label>Found Address</label>
        <locationX>710</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Create_Validate_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGetAddressRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Address_Validated</name>
        <label>Is Address Validated</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Allow_Address_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Validated</defaultConnectorLabel>
        <rules>
            <name>Validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGetAddressRecord.rv2Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GREEN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGetAddressRecord.Validated_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Validated_True</targetReference>
            </connector>
            <label>Validated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Query_on_HouseNumber_or_StreetName</name>
        <label>Query on StreetName or HouseNumber</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Address_with_street</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Street Name</defaultConnectorLabel>
        <rules>
            <name>House_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HouseNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_HouseNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Address_with_house_number</targetReference>
            </connector>
            <label>House Number</label>
        </rules>
    </decisions>
    <description>This flow queries the custom address, verifies if it can find a match. If not it creates &amp; validates a new address if no match is found
DB: 2024/03/13 Limit validation only for eCommerce Import Orders
DB: 2024/04/09 Query based between housenumber or streetname based on input</description>
    <environments>Default</environments>
    <formulas>
        <name>F_SourceFormula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!ImportOrderRecord.Source__c}, &apos;eCommerce&apos;), &apos;eCommerce&apos;, {!ImportOrderRecord.Source__c})</expression>
    </formulas>
    <formulas>
        <description>Street + HouseNumber + HouseNUmberAddition + PostalCode + Country</description>
        <name>form_AddressLabel</name>
        <dataType>String</dataType>
        <expression>{!var_Street}&amp;&apos; &apos;&amp;{!var_HouseNumber}&amp;{!var_HouseNumberAddition}&amp; &quot;, &quot;&amp;{!var_PostalCode}&amp;&quot;, &quot;&amp;{!var_Country}</expression>
    </formulas>
    <formulas>
        <description>Set City value to upper case</description>
        <name>formattedCity</name>
        <dataType>String</dataType>
        <expression>IF({!var_Country} = &quot;Netherlands&quot;, UPPER({!var_City}), {!var_City})</expression>
    </formulas>
    <formulas>
        <name>formattedHouseNumberAddition</name>
        <dataType>String</dataType>
        <expression>TRIM(UPPER({!var_HouseNumberAddition}))</expression>
    </formulas>
    <formulas>
        <description>Removed whitespaces</description>
        <name>formattedPostalCode</name>
        <dataType>String</dataType>
        <expression>UPPER(TRIM(SUBSTITUTE({!var_PostalCode}, &quot; &quot;, &quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>Import Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Order Handler Get Address Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Address</name>
        <label>Create New Address</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Created_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>formattedCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumberAddition__c</field>
            <value>
                <elementReference>var_HouseNumberAddition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNumber__c</field>
            <value>
                <elementReference>var_HouseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>form_AddressLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>var_OperatingCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>var_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>F_SourceFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </inputAssignments>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Address_with_house_number</name>
        <label>Get Address with house number</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_from_Get_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HouseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_HouseNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumberAdditionFormatted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedHouseNumberAddition</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCodeFormatted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OperatingCompany</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_with_street</name>
        <label>Get Address with street</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_from_Get_Address_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PostalCodeFormatted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OperatingCompany</elementReference>
            </value>
        </filters>
        <filters>
            <field>Street__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Street</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_on_HouseNumber_or_StreetName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ImportOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ImportOrder__c</objectType>
    </variables>
    <variables>
        <name>var_AddressIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AddressValidatedStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HouseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HouseNumberAddition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OperatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGetAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ILAddress__c</objectType>
    </variables>
</Flow>
