force-app/main/default/flows/ImportOrderTriggerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_ExternalOrderId_Populated</name>
        <label>Is ExternalOrderId Populated</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Triggering_Import_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No is blank</defaultConnectorLabel>
        <rules>
            <name>Yes_has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ExternalOrderId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Import_Order_Handler_Flow</targetReference>
            </connector>
            <label>Yes has value</label>
        </rules>
    </decisions>
    <description>Trigger Point for Import Order Inserts (Replaced the 1. General Import Order Process - Process Builder)</description>
    <environments>Default</environments>
    <interviewLabel>Import Order Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Order Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Set Error condition values if ExternalOrderId is blank on record</description>
        <name>Update_Triggering_Import_Order</name>
        <label>Update Triggering Import Order</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Error__c</field>
            <value>
                <stringValue>ExternalOrderId is blank! Value is required to match to Order!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ExternalOrderId_Populated</targetReference>
        </connector>
        <filterFormula>AND(ISPICKVAL({!$Record.Status__c}, &quot;Pending&quot;), 
	OR(ISNEW(), 
	ISCHANGED({!$Record.Status__c}), 
	{!$Record.ReadyForPrivateIndividual__c} = true)
	)</filterFormula>
        <object>ImportOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Import_Order_Handler_Flow</name>
        <label>Import Order Handler Flow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>ImportOrderHandler</flowName>
        <inputAssignments>
            <name>sov_NetsuiteOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
