force-app/main/default/flows/MessagingRouting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Screen_PopPE</name>
        <label>Add Screen Pop</label>
        <locationX>590</locationX>
        <locationY>1586</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_chat_PE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;962be97a&quot;,&quot;targetObjectId&quot;:&quot;{!sov_Case.Id}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Add_Screen_PopSE</name>
        <label>Add Screen Pop</label>
        <locationX>854</locationX>
        <locationY>1586</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_chat_SE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;962be97a&quot;,&quot;targetObjectId&quot;:&quot;{!sov_Case.Id}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Add_Screen_PopVEHE</name>
        <label>Add Screen Pop</label>
        <locationX>1118</locationX>
        <locationY>1586</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_chat_VE_HE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;962be97a&quot;,&quot;targetObjectId&quot;:&quot;{!sov_Case.Id}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_Availability_Queue_PE</name>
        <label>Check Availability Queue PE</label>
        <locationX>986</locationX>
        <locationY>506</locationY>
        <actionName>checkAvailabilityForRouting</actionName>
        <actionType>checkAvailabilityForRouting</actionType>
        <connector>
            <targetReference>Check_Availability_Queue_SE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N93V000000GoUiSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GQv000001dIZBMA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Chat PE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOutputs</name>
            <value>
                <stringValue>GET_AVAILABILITY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>checkAvailabilityForRouting</nameSegment>
        <outputParameters>
            <assignToReference>var_QueuedWorkPE</assignToReference>
            <name>queueSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_NumberOnlineAgentsPE</assignToReference>
            <name>onlineAgentsCount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_Availability_Queue_SE</name>
        <label>Check Availability Queue SE</label>
        <locationX>986</locationX>
        <locationY>614</locationY>
        <actionName>checkAvailabilityForRouting</actionName>
        <actionType>checkAvailabilityForRouting</actionType>
        <connector>
            <targetReference>Check_Availability_Queue_VE_HE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N93V000000GoUiSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GQv000001dIZCMA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Chat SE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOutputs</name>
            <value>
                <stringValue>GET_AVAILABILITY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>checkAvailabilityForRouting</nameSegment>
        <outputParameters>
            <assignToReference>var_QueuedWorkSE</assignToReference>
            <name>queueSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_NumberOnlineAgentsSE</assignToReference>
            <name>onlineAgentsCount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_Availability_Queue_VE_HE</name>
        <label>Check Availability Queue VE/HE</label>
        <locationX>986</locationX>
        <locationY>722</locationY>
        <actionName>checkAvailabilityForRouting</actionName>
        <actionType>checkAvailabilityForRouting</actionType>
        <connector>
            <targetReference>Case_Assignment_Default</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N93V000000GoUiSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GQv000001dIZDMA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Chat VE/HE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>selectedOutputs</name>
            <value>
                <stringValue>GET_AVAILABILITY</stringValue>
            </value>
        </inputParameters>
        <nameSegment>checkAvailabilityForRouting</nameSegment>
        <outputParameters>
            <assignToReference>var_QueuedWorkVEHE</assignToReference>
            <name>queueSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_NumberOnlineAgentsVEHE</assignToReference>
            <name>onlineAgentsCount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_chat_PE</name>
        <label>Route to chat PE</label>
        <locationX>590</locationX>
        <locationY>1694</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>sov_MessagingSession.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>Add_Screen_PopPE.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N93V000000GoUiSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GQv000001dIZBMA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Chat PE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_chat_SE</name>
        <label>Route to chat SE</label>
        <locationX>854</locationX>
        <locationY>1694</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>sov_MessagingSession.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>Add_Screen_PopSE.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N93V000000GoUiSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GQv000001dIZCMA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Chat SE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_chat_VE_HE</name>
        <label>Route to chat VE/HE</label>
        <locationX>1118</locationX>
        <locationY>1694</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>sov_MessagingSession.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>Add_Screen_PopVEHE.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N93V000000GoUiSAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GQv000001dIZDMA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Chat VE/HE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Case_Assignment_Default</name>
        <label>Variable Assignment Default</label>
        <locationX>986</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.SourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Question</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.SourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_MessagingSession.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_MessagingUser.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_MessagingUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_MessagingSession.MessagingEndUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RouteCustomerDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Messaging_AssignmentPE</name>
        <label>Messaging Assignment</label>
        <locationX>590</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_with_Prechat_informationPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Messaging_AssignmentSE</name>
        <label>Messaging Assignment</label>
        <locationX>854</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_with_Prechat_informationSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Messaging_AssignmentVEHE</name>
        <label>Messaging Assignment</label>
        <locationX>1118</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>sov_MessagingSession.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_with_Prechat_informationVEHE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_AssignmentPE</name>
        <label>Variable Assignment</label>
        <locationX>590</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.CategoryLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Education</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.NoordhoffChat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CasePE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_AssignmentSE</name>
        <label>Variable Assignment</label>
        <locationX>854</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.CategoryLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary Education</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.NoordhoffChat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CaseSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_AssignmentVEHE</name>
        <label>Variable Assignment</label>
        <locationX>1118</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>sov_Case.CategoryLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vocational Education</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Noordhoff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.NoordhoffChat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CaseVEHE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blocked_customer</name>
        <label>Blocked customer</label>
        <locationX>656</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_Availability_Queue_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_BlockList.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This example decision node looks at the Contact that is messaging and decides which Queue they should be routed to. Here, it checks both the name and country of the customer.</description>
        <name>RouteCustomerDecision</name>
        <label>How should the customer be routed?</label>
        <locationX>986</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>Variable_AssignmentSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Customers</defaultConnectorLabel>
        <rules>
            <name>PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOnlineAgentsPE</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_MessagingSession.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_QueuedWorkPE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variable_AssignmentPE</targetReference>
            </connector>
            <label>PE</label>
        </rules>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOnlineAgentsSE</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_MessagingSession.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_QueuedWorkSE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variable_AssignmentSE</targetReference>
            </connector>
            <label>SE</label>
        </rules>
        <rules>
            <name>VE_HE</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOnlineAgentsVEHE</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_MessagingSession.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Higher</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_MessagingSession.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vocational</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_QueuedWorkVEHE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variable_AssignmentVEHE</targetReference>
            </connector>
            <label>VE/HE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Messaging Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Messaging Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_CasePE</name>
        <label>Create Case</label>
        <locationX>590</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Messaging_AssignmentPE</targetReference>
        </connector>
        <inputReference>sov_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CaseSE</name>
        <label>Create Case</label>
        <locationX>854</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Messaging_AssignmentSE</targetReference>
        </connector>
        <inputReference>sov_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CaseVEHE</name>
        <label>Create Case</label>
        <locationX>1118</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Messaging_AssignmentVEHE</targetReference>
        </connector>
        <inputReference>sov_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Block_Customer</name>
        <label>Get Block Customer</label>
        <locationX>656</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blocked_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </filters>
        <object>CustomerBlockList__c</object>
        <outputReference>sov_BlockList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>656</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Block_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputReference>sov_MessagingSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName__c</queriedFields>
        <queriedFields>LastName__c</queriedFields>
        <queriedFields>Subject__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>MessagingEndUserId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_UserPE</name>
        <label>Update Messaging User</label>
        <locationX>590</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Add_Screen_PopPE</targetReference>
        </connector>
        <inputReference>sov_MessagingUser</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_UserSE</name>
        <label>Update Messaging User</label>
        <locationX>854</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Add_Screen_PopSE</targetReference>
        </connector>
        <inputReference>sov_MessagingUser</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_UserVEHE</name>
        <label>Update Messaging User</label>
        <locationX>1118</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Add_Screen_PopVEHE</targetReference>
        </connector>
        <inputReference>sov_MessagingUser</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_with_Prechat_informationPE</name>
        <label>Update Messaging with Prechat information</label>
        <locationX>590</locationX>
        <locationY>1370</locationY>
        <connector>
            <targetReference>Update_Messaging_UserPE</targetReference>
        </connector>
        <inputReference>sov_MessagingSession</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_with_Prechat_informationSE</name>
        <label>Update Messaging with Prechat information</label>
        <locationX>854</locationX>
        <locationY>1370</locationY>
        <connector>
            <targetReference>Update_Messaging_UserSE</targetReference>
        </connector>
        <inputReference>sov_MessagingSession</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_with_Prechat_informationVEHE</name>
        <label>Update Messaging with Prechat information</label>
        <locationX>1118</locationX>
        <locationY>1370</locationY>
        <connector>
            <targetReference>Update_Messaging_UserVEHE</targetReference>
        </connector>
        <inputReference>sov_MessagingSession</inputReference>
    </recordUpdates>
    <sourceTemplate>omnichannel_messaging__MsgRouting</sourceTemplate>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Segment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_BlockList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerBlockList__c</objectType>
    </variables>
    <variables>
        <name>sov_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sov_MessagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>sov_MessagingUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumberOnlineAgentsPE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumberOnlineAgentsSE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NumberOnlineAgentsVEHE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_QueuedWork</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_QueuedWorkPE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_QueuedWorkSE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_QueuedWorkVEHE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
