force-app/main/default/flows/OpportunityAfterSaveUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Opp_Owner</name>
        <label>Send Notification to Opp Owner</label>
        <locationX>402</locationX>
        <locationY>2231</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>customNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>customNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipeintIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Id</name>
        <label>Assign Recipient Id</label>
        <locationX>402</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>varRecipeintIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAmountBME</name>
        <label>AssignAmountBME</label>
        <locationX>270</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountBME</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoUpdateOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAmountPlantyn</name>
        <label>AssignAmountPlantyn</label>
        <locationX>534</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountItemsPlantyn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoUpdateOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Owner_as_Opportunity_Owner</name>
        <label>Set Account Owner as Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoUpdateOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Ammount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Update_Opportunity</name>
        <label>Update Opportunity?</label>
        <locationX>534</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Notify_of_Approval_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoUpdateOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_opportunity_have_an_Account</name>
        <label>Does opportunity have an Account?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Ammount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_opportunity_has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_from_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Owner_Opportunity_Owner</name>
        <label>Is Account Owner Opportunity Owner</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Ammount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Account_Owner_is_not_Opportunity_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityOwnerIsAccountOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Owner_as_Opportunity_Owner</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_of_Approval_Status</name>
        <label>Notify of Approval Status</label>
        <locationX>534</locationX>
        <locationY>1907</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Notification</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpCo</name>
        <label>OpCo</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Ammount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Ammount</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
        <rules>
            <name>Plantyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityIsNew</targetReference>
            </connector>
            <label>Plantyn</label>
        </rules>
        <rules>
            <name>Liber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Ammount</targetReference>
            </connector>
            <label>Liber</label>
        </rules>
        <rules>
            <name>NoordhoffZorg</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Professional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Ammount</targetReference>
            </connector>
            <label>Noordhoff Zorg</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityIsNew</name>
        <label>Is New?</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Ammount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_opportunity_have_an_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Opportunity_Ammount</name>
        <label>Update Opportunity Ammount</label>
        <locationX>534</locationX>
        <locationY>1307</locationY>
        <defaultConnector>
            <targetReference>Do_Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Boekenlijst_BME</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasOLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfStudents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PricePerPupil__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SRMReference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boekenlijst BME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAmountBME</targetReference>
            </connector>
            <label>Boekenlijst BME</label>
        </rules>
        <rules>
            <name>Plantyn_0_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAmountPlantyn</targetReference>
            </connector>
            <label>Plantyn - 0 Line Items</label>
        </rules>
    </decisions>
    <description>DB: 29/03/2023 added Notification process when an Opportunity has gone through Approval and has been Approved</description>
    <environments>Default</environments>
    <formulas>
        <name>AmountBME</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.PricePerPupil__c}*{!$Record.NumberOfStudents__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AmountItemsPlantyn</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.NumberOfStudents__c}*{!$Record.Method__r.AveragePriceMethod__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>customNotificationBody</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.ApprovalStatus__c}, &quot;Approved&quot;),
&quot;Opportunity &quot;+ {!$Record.Name} + &quot; has been Approved.&quot;,
&quot;Opportunity &quot;+ {!$Record.Name} + &quot; has been Rejected.&quot;)</expression>
    </formulas>
    <formulas>
        <name>customNotificationTitle</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.ApprovalStatus__c}, &quot;Approved&quot;), &quot;Opportunity Approved&quot;, &quot;Opportunity Rejected&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OpportunityOwnerIsAccountOwner</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.OwnerId}, 15) = LEFT({!OpportunityAccount.OwnerId}, 15)</expression>
    </formulas>
    <interviewLabel>Opportunity - After Save Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_from_Opportunity</name>
        <label>Get Account from Opportunity</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Owner_Opportunity_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OpportunityAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>402</locationX>
        <locationY>2123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_Opp_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Approval_Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>402</locationX>
        <locationY>1715</locationY>
        <connector>
            <targetReference>Notify_of_Approval_Status</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OpCo</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DoUpdateOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varRecipeintIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
