force-app/main/default/flows/Opportunity_Before_Save_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count_Inactive_Products</name>
        <label>Count Inactive Products</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inactive_Product_Count__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Inactive_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DiscontinuedProductCount__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Discontinued_Products</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Count_Products_with_errors</name>
        <label>Count Products with errors</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Validate_Opportunity_Products_Errors__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Products_with_errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricePerPupil_x_NumberOfStudents</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Can_we_calculate_the_amount</name>
        <label>Can we calculate the amount?</label>
        <locationX>644</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PricePerPupil__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PricePerPupil__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfStudents__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfStudents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAmount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Open_or_closed</name>
        <label>Is Opportunity Open or closed?</label>
        <locationX>875</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_we_calculate_the_amount</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zorg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff Zorg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inactive_Products</targetReference>
            </connector>
            <label>Zorg</label>
        </rules>
        <rules>
            <name>Noordhoff_BAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoordhoffBAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Opportunity_Open_or_closed</targetReference>
            </connector>
            <label>Noordhoff BAO</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateAmount</name>
        <label>Update Amount?</label>
        <locationX>446</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_updateAmount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PricePerPupil__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfStudents__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>JK 2024/6/7 - Added Amount calculation for BAO</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PricePerPupil_x_NumberOfStudents</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.NumberOfStudents__c} * {!$Record.PricePerPupil__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Before Save Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Discontinued_Products</name>
        <label>Get Discontinued Products</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Inactive_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductDeliveryStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinued</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactive_Products</name>
        <label>Get Inactive Products</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Discontinued_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Product_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_with_errors</name>
        <label>Get Products with errors</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Products_with_errors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ValidateOpportunityProduct__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products_with_errors</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
