force-app/main/default/flows/TEST_ManualMerge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DC_Find_Duplicate_by_Field_Values</name>
        <label>DC - Find Duplicate by Field Values</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>dupcheck__dc3SearchByValuesFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DC_Quick_Merge</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__searchObject</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Flow_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchObject</name>
            <value>
                <elementReference>FieldValuesVariable</elementReference>
            </value>
        </inputParameters>
        <nameSegment>dupcheck__dc3SearchByValuesFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DC_Quick_Merge</name>
        <label>DC - Quick Merge</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>dupcheck__dc3QuickMergeFlowAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Flow_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchResult</name>
            <value>
                <elementReference>DC_Find_Duplicate_by_Field_Values.duplicateResult</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>threshold</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>dupcheck__dc3QuickMergeFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Accounts_to_Collection</name>
        <label>Add Accounts to Collection</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Master_Account.MergeToRecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Master_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Master_Account.Merge_Schedule_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Account.MergeToRecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Master_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Duplicate_Account.Merge_Schedule_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Master_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Duplicate_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldValuesVariable.MergeToRecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Master_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Selected_Merge_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_Error_Message</name>
        <label>Assign Flow Error Message</label>
        <locationX>1496</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FlowErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorDisplay</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>OperatingCompanyChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OperatingCompany__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>TEST_ManualMerge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST_ManualMerge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Duplicate_Account</name>
        <label>Get Duplicate Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OutputScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Flow_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountDuplicateLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Account</name>
        <label>Get Master Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Flow_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Merge_Accounts</name>
        <label>Update Selected Merge Accounts</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>DC_Find_Duplicate_by_Field_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Flow_Error_Message</targetReference>
        </faultConnector>
        <inputReference>AccountstoUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Accounts_Selection</name>
        <label>Account Duplicate Selection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Duplicate_Account</targetReference>
        </connector>
        <fields>
            <name>MasterAccountTxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Master Account:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Master_Account.Name}; {!Get_Master_Account.NetsuiteCustomerNumber__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountDuplicateLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>School__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Duplicate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorDisplay</name>
        <label>ErrorDisplay</label>
        <locationX>1496</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!FlowErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutputScreen</name>
        <label>OutputScreen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Accounts_to_Collection</targetReference>
        </connector>
        <fields>
            <name>DisplayResult</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Master Account&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Id:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Master_Account.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Name:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Master_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Netsuite Customer Number:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Get_Master_Account.NetsuiteCustomerNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Duplicate Account&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;u&gt;Id:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Duplicate_Account.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Name:&lt;/u&gt;&lt;/strong&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Duplicate_Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Netsuite Customer Number:&lt;/u&gt;&lt;/strong&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Duplicate_Account.NetsuiteCustomerNumber__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Please note that the Accounts listed above will be merged, once merged this cannot be undone please make sure you want to merge these Accounts. The duplicate with all it&apos;s related data/records will be merged into the master.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Account_Merge</name>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm to proceed adding the Accounts to the daily scheduled merge job. Or close the pop-up window to cancel.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please check the checkbox to confirm. Or close the pop-up window to cancel.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Confirm_Account_Merge}, true, false)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Master_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountsRecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FieldValuesVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FlowErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OpCo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
