force-app/main/default/flows/Vendor_Address_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Address</name>
        <label>Validate Address</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>AddressValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Validated_Address_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumber</name>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumberAddition</name>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>accountRecord.BillingStreetName__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddressValidation</nameSegment>
        <outputParameters>
            <assignToReference>var_StatusColour</assignToReference>
            <name>statusColour</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Billing_Address</name>
        <label>Validate Billing Address</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <actionName>AddressValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Validated_BillingAddress_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumber</name>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumberAddition</name>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>accountRecord.BillingStreetName__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddressValidation</nameSegment>
        <outputParameters>
            <assignToReference>var_StatusColour</assignToReference>
            <name>statusColour</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Shipping_Address</name>
        <label>Validate Shipping Address</label>
        <locationX>1634</locationX>
        <locationY>1598</locationY>
        <actionName>AddressValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Validated_ShippingAddress_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>accountRecord.ShippingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumber</name>
            <value>
                <elementReference>accountRecord.ShippingHouseNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>housenumberAddition</name>
            <value>
                <elementReference>accountRecord.ShippingHouseNumberAddition__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>accountRecord.ShippingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>accountRecord.ShippingStreetName__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddressValidation</nameSegment>
        <outputParameters>
            <assignToReference>var_StatusColour</assignToReference>
            <name>statusColour</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Account will be updated in calling parent flow</description>
        <name>Assign_Account_Address_Values1</name>
        <label>Assign Account Address Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.BillingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillToAddressValidated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.Validated_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingHouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingHouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShipToAddressValidated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.Validated_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingHouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingHouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Address_Exists.Street__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Account will be updated in calling parent flow</description>
        <name>Assign_Account_Address_Values2</name>
        <label>Assign Account Address Values</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.BillingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ILAddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ILAddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_ILAddress_Variable</name>
        <label>Clear ILAddress Variable</label>
        <locationX>1304</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>ILAddressRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>See_If_Shipping_Address_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Address_Values</name>
        <label>Create Address Values</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_BillingAddressLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2ValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.ValidationOverridden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GREEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UDB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_BillingAddress_Values</name>
        <label>Create BillingAddress Values</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_BillingAddressLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2ValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.ValidationOverridden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GREEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UDB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ShippingAddress_Values</name>
        <label>Create ShippingAddress Values</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_ShippingAddressLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingHouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingHouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2ValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.ValidationOverridden__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GREEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UDB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Validated_Address_Values</name>
        <label>Create Validated Address Values</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_BillingAddressLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2ValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Source__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CreateAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Validated_BillingAddress_Values</name>
        <label>Create Validated BillingAddress Values</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_BillingAddressLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2ValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Source__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Validated_ShippingAddress_Values</name>
        <label>Create Validated ShippingAddress Values</label>
        <locationX>1634</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_ShippingAddressLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingHouseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.HouseNumberAddition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingHouseNumberAddition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.OperatingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.rv2ValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ILAddressRecord.Source__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Address</name>
        <label>Set Billing Address</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.BillingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Billing_Address_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_ILAddress_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Address2</name>
        <label>Set Billing Address</label>
        <locationX>1502</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.BillingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ILAddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_ILAddress_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Address</name>
        <label>Set Shipping Address</label>
        <locationX>1106</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>See_If_Shipping_Address_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_Update_Account3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Address2</name>
        <label>Set Shipping Address</label>
        <locationX>1502</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ILAddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Can_Update_Account3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_Exists</name>
        <label>Address Exists</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_OR_Validate_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_addressExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>See_If_Address_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_Update_Account1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Address_Exists</name>
        <label>Billing Address Exists</label>
        <locationX>1304</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Billing_Create_OR_Validate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_billingExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>See_If_Billing_Address_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If UDB OR VENDOR DO NOTHING.
Skip Validate.</description>
        <name>Billing_Create_OR_Validate</name>
        <label>Billing Create OR Validate</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Validate_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Address Validate</defaultConnectorLabel>
        <rules>
            <name>Billing_Address_Create</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.ExternalDatabase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.NetSuiteVendorId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.VendorNetsuiteInternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BillingAddress_Values</targetReference>
            </connector>
            <label>Billing Address Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_Update_Account1</name>
        <label>Can Update Account?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.ExternalDatabase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Address_Values1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_Update_Account2</name>
        <label>Can Update Account?</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_Account2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.ExternalDatabase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.NetSuiteVendorId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.VendorNetsuiteInternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Address_Values2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_Update_Account3</name>
        <label>Can Update Account?</label>
        <locationX>1304</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Update_Account3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Copy3</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.ExternalDatabase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.NetSuiteVendorId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.VendorNetsuiteInternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>If UDB OR VENDOR DO NOTHING.
Skip Validate.</description>
        <name>Create_OR_Validate_Address</name>
        <label>Create OR Validate Address</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Validate_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validate</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.ExternalDatabase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.NetSuiteVendorId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.VendorNetsuiteInternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Address_Values</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_account_s_billing_address_same_as_shipping</name>
        <label>Is the account&apos;s billing address same as shipping?</label>
        <locationX>875</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>See_If_Billing_Address_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_sameAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.BillingStreetName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountRecord.ShippingStreetName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.BillingHouseNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountRecord.ShippingHouseNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.BillingHouseNumberAddition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountRecord.ShippingHouseNumberAddition__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>See_If_Address_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Address_Exists</name>
        <label>Shipping Address Exists</label>
        <locationX>1304</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Shipping_Create_OR_Validate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_shippingExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>See_If_Shipping_Address_Exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Shipping_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If UDB DO NOTHING.
Skip Validate.</description>
        <name>Shipping_Create_OR_Validate</name>
        <label>Shipping Create OR Validate</label>
        <locationX>1502</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Validate_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipping Address Validate</defaultConnectorLabel>
        <rules>
            <name>Shipping_Address_Create</name>
            <conditionLogic>1 OR (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.ExternalDatabase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UDB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.NetSuiteVendorId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.VendorNetsuiteInternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ShippingAddress_Values</targetReference>
            </connector>
            <label>Shipping Address Create</label>
        </rules>
    </decisions>
    <description>DB 07/03/2024: Added validation skip if Account is from UDB
DB 30/05/2024: Vendor addresses excluded from validation</description>
    <environments>Default</environments>
    <formulas>
        <name>dtNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>F_BillingAddressLabel</name>
        <dataType>String</dataType>
        <expression>{!accountRecord.BillingStreet} &amp; &apos;, &apos; &amp; {!accountRecord.BillingPostalCode} &amp; &apos;, &apos; &amp; {!accountRecord.BillingCountry}</expression>
    </formulas>
    <formulas>
        <name>F_ShippingAddressLabel</name>
        <dataType>String</dataType>
        <expression>{!accountRecord.ShippingStreet} &amp; &apos;, &apos; &amp; {!accountRecord.ShippingPostalCode} &amp; &apos;, &apos; &amp; {!accountRecord.ShippingCountry}</expression>
    </formulas>
    <formulas>
        <name>fValidated</name>
        <dataType>Boolean</dataType>
        <expression>IF({!var_StatusColour}=&apos;GREEN&apos;, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Vendor Address Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Address Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing_Address</name>
        <label>Create Billing Address</label>
        <locationX>1502</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Set_Billing_Address2</targetReference>
        </connector>
        <inputReference>ILAddressRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipping_Address</name>
        <label>Create Shipping Address</label>
        <locationX>1502</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Set_Shipping_Address2</targetReference>
        </connector>
        <inputReference>ILAddressRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAddress</name>
        <label>Create Address</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Can_Update_Account2</targetReference>
        </connector>
        <inputReference>ILAddressRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>See_If_Address_Exists</name>
        <label>See If Address Exists</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumberAddition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>See_If_Billing_Address_Exists</name>
        <label>See If Billing Address Exists</label>
        <locationX>1304</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Address_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumberAddition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.BillingHouseNumberAddition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>See_If_Shipping_Address_Exists</name>
        <label>See If Shipping Address Exists</label>
        <locationX>1304</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipping_Address_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.ShippingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.ShippingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.ShippingHouseNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HouseNumberAddition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.ShippingHouseNumberAddition__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ILAddress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillToAddressValidated__c</field>
            <value>
                <elementReference>See_If_Address_Exists.Validated_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAddress__c</field>
            <value>
                <elementReference>See_If_Address_Exists.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumberAddition__c</field>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumberAddition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNumber__c</field>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreetName__c</field>
            <value>
                <elementReference>See_If_Address_Exists.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToAddressValidated__c</field>
            <value>
                <elementReference>See_If_Address_Exists.Validated_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__c</field>
            <value>
                <elementReference>See_If_Address_Exists.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumberAddition__c</field>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumberAddition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHouseNumber__c</field>
            <value>
                <elementReference>See_If_Address_Exists.HouseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreetName__c</field>
            <value>
                <elementReference>See_If_Address_Exists.Street__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingAddress__c</field>
            <value>
                <elementReference>ILAddressRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddress__c</field>
            <value>
                <elementReference>ILAddressRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account3</name>
        <label>Update Account</label>
        <locationX>1436</locationX>
        <locationY>2306</locationY>
        <inputReference>accountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_account_s_billing_address_same_as_shipping</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>bCreateAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ILAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ILAddress__c</objectType>
    </variables>
    <variables>
        <name>var_StatusColour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
